<div class="background-image">
	<img src="../assets/backgroundImage.jpg">
	<div class="content">
		<div class="form_inputs" [formGroup]="loginForm">
			<h1 mat-title style="color: #000; text-align: center;">Login</h1>
			<mat-icon color="primary" style="margin-right: 5px;">person</mat-icon>
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Username" value="" type="text" id="form2" autocomplete= 'false | random-string'  class="form-control" formControlName="email">
			</mat-form-field><br>
			<mat-icon color="primary" style="margin-right: 5px;">lock</mat-icon>
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Password" value="" type="password" autocomplete="new-password" id="form2" class="form-control" formControlName="password">
			</mat-form-field>
			<button mat-raised-button color="primary" style="width: 100%;" (click)="login(loginForm.value)" > Login</button><br>
			<button mat-raised-button style="background-color:#DD4D42; color: #fff " (click)="signInWithGoogle()"> Sign in with Google</button><br>
			<button mat-raised-button style="background-color:#3B5898; color: #fff " (click)="signInWithFacebook()"> Sign in with Facebook</button><br>
			<button mat-stroked-button color="accent" routerLink="/signup"> Sign Up</button>
		</div>
	</div>
</div>
<!-- #3B5898
#3f50b5 -->