<body>
	<mat-toolbar color="primary">
		<mat-icon>description</mat-icon>
		<h3>Task List</h3>
		<span class="example-spacer"></span>
		<button mat-flat-button color="accent" (click)="openDialog($evt)"><mat-icon class="example-icon">add</mat-icon>Add Task</button>
	</mat-toolbar>
	<div class="title" style="padding: 45px 0px;">
		<h4 class="text-center"> Task List</h4>
	</div>

	<mat-card class="example-card">
		<mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title>Shiba Inu</mat-card-title>
			<mat-card-subtitle>Dog Breed</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button>LIKE</button>
			<button mat-button>SHARE</button>
		</mat-card-actions>
	</mat-card>
	<!-- <div class="container">
		<div class="task_list">
			<ul class="list-group">
				<li class="list-group-item" *ngFor="let item of toDoListArray">
					{{item.title}}
					<span class="hover-cursor text-danger" style="gin-left: 5mar0px;">
						{{item.desc}}
					</span>
					<span class="hover-cursor text-danger pull-right" style="margin-left: 50px;">
						{{item.priority}}
					</span>
				</li>
			</ul>
		</div>
	</div> -->
</body>
