.example-spacer {
	flex: 1 1 auto;
}
.example-full-width {
	width: 100%;
	max-width: 400px;
}
.mat-dialog-actions{
	float: right;
	margin: 1px;
}
.Content_modal{
	padding: 20px 25px;
}
.example-card {
  max-width: 400px;
  margin: 10px auto;
}
