<div class="container mt-6">
	<div class="card panels-card">
		<div class="container">
			<div class="row login_form">
				<h4 class="card-header-title text-center">
					<span class="icon-login"></span> Sign Up
				</h4>
				<div class="card-body box pt-1">
					<form [formGroup]="signupForm">
						<div class="row">
							<div class="col-11">
								<div class="md-form">
									<label for="form2">Email</label>
									<input mdbInput type="text" id="form2" autocomplete= 'false | random-string'  class="form-control" formControlName="email" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-11">
								<div class="md-form">
									<label for="form2">Password</label> 
									<input mdbInput type="password" autocomplete="new-password" id="form2" class="form-control" formControlName="password">
								</div>
							</div>
						</div>
						<div class="md-form">
							<button class="btn btn-default" mdbBtn color="primary" (click)="signUp(signupForm.value)" mdbWavesEffect style="background-color: #3998c5; color: white; border: none; margin-top: 15px;margin-left: 160px;">Sign Up</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>	
</div>



