<div class="background-image">
	<img src="../assets/backgroundImage.jpg">
	<div class="content">
		<div class="form_inputs" [formGroup]="signupForm">
			<h2 mat-header style="color: #000; text-align: center;">SignUp</h2>
			<mat-icon color="primary" style="margin-right: 5px;">person</mat-icon>
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Username" value="" type="text"  id="form2" autocomplete= 'false | random-string'  class="form-control" formControlName="email">
			</mat-form-field><br>
			<mat-icon color="primary" style="margin-right: 5px;">lock</mat-icon>
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Password" value="" type="password"  autocomplete="new-password" id="form2" class="form-control" formControlName="password">
			</mat-form-field>
			<button mat-flat-button color="accent" (click)="signUp(signupForm.value)"> Sign Up</button>
		</div>
	</div>
</div>




